In [44]:
import pandas as pd 
import numpy as np

> Leer el archivo de texto y seleccionar solo las primeras 4 columnas

In [45]:
df_cars = pd.read_csv('prueba_txt.txt', delimiter='\s+', header=None, encoding='latin1', usecols=[0, 1, 2, 3])

>Crear los nombres de las columnas

In [46]:
column_names = ['Marca', 'Tipo', 'Ubicacion', 'Placa']

>Asignar los nombres de las columnas al DataFrame

In [47]:
df_cars.columns = column_names

>Imprimir el DataFrame

In [48]:
df_cars

          Marca      Tipo  Ubicacion        Placa
0         ADRIA    Diesel    Galicia         0001
1     ALFAROMEO    Diesel  Andalucía         0047
2     ALFAROMEO    Diesel     Aragón         0041
3     ALFAROMEO    Diesel   Asturias  (Principado
4     ALFAROMEO    Diesel    Balears      (Illes)
...         ...       ...        ...          ...
1652      VOLVO  Gasolina    Galicia         0007
1653      VOLVO  Gasolina     Madrid   (Comunidad
1654      VOLVO  Gasolina     Murcia      (Región
1655      VOLVO  Gasolina    Navarra   (Comunidad
1656      VOLVO  Gasolina       País        Vasco

[1657 rows x 4 columns]

> Conocer los valores nulos y eliminar esos registros

In [49]:
df_cars = df_cars.copy()
df_cars.dropna(inplace=True)
df_cars.isnull().sum().shape

(4,)

> Eliminar las filas con valores no aceptables

In [50]:
df_filtered = df_cars[(df_cars['Marca'] == 'Gasolina') | (df_cars['Marca'] == 'Diesel') | (df_cars['Marca'] == 'Eléctrico')]
df_filtered

       Marca   Tipo Ubicacion Placa
1641  Diesel  Rioja      (La)  0012

In [51]:
df_cars = df_cars[~((df_cars['Marca'] == 'Gasolina') | (df_cars['Marca'] == 'Diesel') | (df_cars['Marca'] == 'Eléctrico'))]

In [53]:
df_cars['Placa'].unique()

array(['0001', '0047', '0041', '(Principado', '(Illes)', '0019', 'y',
       'Mancha', '0112', 'Valenciana', '0005', '0023', '(Comunidad',
       '(Región', 'Vasco', '0014', '0025', '0011', '0004', '1235', '0186',
       '0057', '0117', '1774', '0012', '0158', '0567', '0006', '(La)',
       '0002', 'de', '0217', '0037', '0155', '0036', '0589', '0431',
       '0026', '0118', '0015', '1199', '0172', '0201', '0103', '1328',
       '0135', '0088', '0045', '0008', '0153', '0040', '0013', '0003',
       'Castilla', 'Asturias', '0007', '2064', '0229', '0052', '0129',
       '1570', '0024', '0257', '0635', '0748', '0141', '0399', '0069',
       '0943', '0018', '0171', '0010', '1396', '0165', '0355', '0070',
       '0843', '0209', '0303', '0586', '0096', '0634', '0039', '0775',
       '0160', '0009', '0053', '0046', '0380', '0226', '0022', '1020',
       '0098', 'Comprimido', '0606', '0054', '0411', '0031', '0706',
       '0109', '0883', '0188', '0120', '0050', '1300', '0128', '0285',
       '0691', '0119', '0419', '0063', '1179', '0073', '0190', 'Balears',
       '0334', '0515', '0056', '0021', '0082', '0139', '0033', 'Ceuta',
       '0736', '0124', '0034', '0662', '0116', '0179', '0621', '0090',
       '0488', '0849', '0016', '0066', 'de)', 'León', '0017', 'Foral',
       '0084', '0080', '0259', '0999', '0164', '0121', '0919', '0400',
       '0624', '0192', '0410', '0060', '0204', '0099', '0108', '0114',
       '0020', '0298', '0232', '0038', '0482', '0168', '0227', '0102',
       '0170', '0536', '0138', '1952', '0307', '0235', '0142', '1860',
       '0032', '0150', '0709', '0065', '0028', '0095', '0191', '0159',
       '0309', '0044', '0061', '0185', '0237', '0042', '0148', '0123',
       '0075', '0115', '1029', '0184', '0055', '1433', '0131', '0576',
       '0566', '0051', '0915', '0122', '1136', '0405', '0189', '0089',
       '1015', '0216', 'Licuado', '0907', '0287', '0848', '0086', '1157',
       '0078', '0243', '1974', '0382', '0147', '1983', '0208', '0808',
       '0898', '0375', '1484', '0275', '0043', '1316', '0163', '1290',
       '0152', '0447', '0628', '0136', '0517', '0071', '1198', '0064',
       '0219', '0827', '0062', '1550', '0306', '0807', '0892', '1480',
       '0251', 'Melilla', '0365', '0435', '0068', '0247', '0265', '0081',
       '0076', '0241', '0244', '0156', '0657', '0463', '0169', '1161',
       '0200', '0390', '0104', '1963', '0384', '0260', '0166', '2166',
       '0224', '0651', '0030', '0760', '1019', '1168', '0223',
       'Andalucía', '0289', '0340', '0049'], dtype=object)

> Reemplazar los valores que no tienen sentido por NaN

In [54]:
df_cars['Placa'].replace(['(Principado', '(Illes)', '(Comunidad', '(Región', 'de)', 'Comprimido', 'Balears', 'Ceuta', 'Foral', 'León', 'Licuado', 'Melilla', 'Andalucía'], np.nan, inplace=True)

> Eliminar las filas con valores NaN en la columna 'Placa'

In [55]:
df_cars.dropna(subset=['Placa'], inplace=True)

> Eliminar caracteres no numéricos y espacios en blanco de la columna 'Placa'

In [56]:
df_cars['Placa'] = df_cars['Placa'].str.replace(r'\D', '', regex=True)

> Verificar los resultados

In [57]:
print(df_cars['Placa'].unique())

['0001' '0047' '0041' '0019' '' '0112' '0005' '0023' '0014' '0025' '0011'
 '0004' '1235' '0186' '0057' '0117' '1774' '0012' '0158' '0567' '0006'
 '0002' '0217' '0037' '0155' '0036' '0589' '0431' '0026' '0118' '0015'
 '1199' '0172' '0201' '0103' '1328' '0135' '0088' '0045' '0008' '0153'
 '0040' '0013' '0003' '0007' '2064' '0229' '0052' '0129' '1570' '0024'
 '0257' '0635' '0748' '0141' '0399' '0069' '0943' '0018' '0171' '0010'
 '1396' '0165' '0355' '0070' '0843' '0209' '0303' '0586' '0096' '0634'
 '0039' '0775' '0160' '0009' '0053' '0046' '0380' '0226' '0022' '1020'
 '0098' '0606' '0054' '0411' '0031' '0706' '0109' '0883' '0188' '0120'
 '0050' '1300' '0128' '0285' '0691' '0119' '0419' '0063' '1179' '0073'
 '0190' '0334' '0515' '0056' '0021' '0082' '0139' '0033' '0736' '0124'
 '0034' '0662' '0116' '0179' '0621' '0090' '0488' '0849' '0016' '0066'
 '0017' '0084' '0080' '0259' '0999' '0164' '0121' '0919' '0400' '0624'
 '0192' '0410' '0060' '0204' '0099' '0108' '0114' '0020' '0298' '0232'
 '0038' '0482' '0168' '0227' '0102' '0170' '0536' '0138' '1952' '0307'
 '0235' '0142' '1860' '0032' '0150' '0709' '0065' '0028' '0095' '0191'
 '0159' '0309' '0044' '0061' '0185' '0237' '0042' '0148' '0123' '0075'
 '0115' '1029' '0184' '0055' '1433' '0131' '0576' '0566' '0051' '0915'
 '0122' '1136' '0405' '0189' '0089' '1015' '0216' '0907' '0287' '0848'
 '0086' '1157' '0078' '0243' '1974' '0382' '0147' '1983' '0208' '0808'
 '0898' '0375' '1484' '0275' '0043' '1316' '0163' '1290' '0152' '0447'
 '0628' '0136' '0517' '0071' '1198' '0064' '0219' '0827' '0062' '1550'
 '0306' '0807' '0892' '1480' '0251' '0365' '0435' '0068' '0247' '0265'
 '0081' '0076' '0241' '0244' '0156' '0657' '0463' '0169' '1161' '0200'
 '0390' '0104' '1963' '0384' '0260' '0166' '2166' '0224' '0651' '0030'
 '0760' '1019' '1168' '0223' '0289' '0340' '0049']

 > Eliminar espacios en blanco de las columnas de tipo str

In [58]:
df_cars = df_cars.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

> Verificar los resultados

In [59]:
df_cars.head()

       Marca    Tipo  Ubicacion Placa
0      ADRIA  Diesel    Galicia  0001
1  ALFAROMEO  Diesel  Andalucía  0047
2  ALFAROMEO  Diesel     Aragón  0041
5  ALFAROMEO  Diesel   Canarias  0019
6  ALFAROMEO  Diesel   Castilla

> Crear Columna Fecha

In [60]:
df_cars['Fecha']='06-07-2019'
df_cars['Fecha']=pd.to_datetime(df_cars['Fecha'])

> Crear el la columna IdTransaccion

In [61]:
df_cars.insert(0, 'IdTransaccion', range(1, len(df_cars) + 1))

In [62]:
df_cars

      IdTransaccion      Marca      Tipo    Ubicacion Placa      Fecha
0                 1      ADRIA    Diesel      Galicia  0001 2019-06-07
1                 2  ALFAROMEO    Diesel    Andalucía  0047 2019-06-07
2                 3  ALFAROMEO    Diesel       Aragón  0041 2019-06-07
5                 4  ALFAROMEO    Diesel     Canarias  0019 2019-06-07
6                 5  ALFAROMEO    Diesel     Castilla       2019-06-07
...             ...        ...       ...          ...   ...        ...
1649           1170      VOLVO  Gasolina  Castilla-La       2019-06-07
1650           1171      VOLVO  Gasolina     Cataluña  0016 2019-06-07
1651           1172      VOLVO  Gasolina    Comunitat       2019-06-07
1652           1173      VOLVO  Gasolina      Galicia  0007 2019-06-07
1656           1174      VOLVO  Gasolina         País       2019-06-07

[1174 rows x 6 columns]

> Imputamos por Sin especificar

In [63]:
df_cars.replace('','Sin especificar', inplace=True)

>Exportamos a Csv

In [64]:
df_cars.to_csv('transactions_details.csv', sep=',', index=False)